body {
  margin: 0;
  padding: 0;
}
/*1366px
.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}*/
/*Room Sections*/
.room_sections{
  background-color:black;
  color: #FFFFFF;
  /*#2C2C2C*/
}
.arrow{
  float: right;
}
.arrow a{
  text-decoration: none;
  color:white;
}
.one{
  text-align: center;
  clear:right;
}
.two{
  display: flex;
  color: #FFFFFF;
  clear:left;
}
.two2{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
}
.three{
  display: flex;
  color: #FFFFFF;
}
.three1{
  margin-right: 5rem;
  text-align: right;
  width: 670px;
  height: 500px;
  margin-top: 5rem;
}
.room_image{
  width: 670px;
  height: 500px;
}
.arrow_1{
  margin-top: 4rem;
}
.arrow_1 a{
  text-decoration:none;
  color:white;
  margin-left:6px;
}
.three1_1{
  display: flex;
  color: #FFFFFF;
  margin-top: 3rem;
}
.three1_2{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
  margin-top: 4rem;
}
.two2_1{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
  margin-top: 4rem;
}
.two{
  display: flex;
  color: #FFFFFF;
  margin-top: 3rem;
}
button{
  background: #D66939 ;
  color:#2C2C2C;
  font-size: 24px;
  font-weight: bolder;
  border: none;
  padding:5px;
}

/*footer*/
.foot{
  display: flex;
  padding: 7%;
}
.contact{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.contact_icon{
  width: 10%;
  margin-bottom: 12px;
  margin-top: 20px;
}
.contact_icon img{
  height: 48px;
}
.contact_info{
  width: 90%;
  margin-left: 15px;
  font-size: 18px;
  
  /*margin-top: 15px;*/
}
.riw{
  margin-left: 400px;
  text-decoration: none;
  width: 30%;
}
.riw1 a{
  text-decoration: none;
  color: black;
  height: 30px;
}
.riw3 img{
  height: 40px;
}