body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
 
/*About Section*/
.about-section {
  margin: 90px 63px 40px 50px;
  font-family: Calibri;
}

.about-us {
  letter-spacing: 0.035em;
  font-size: 25px;
  line-height: 2px;
}

.about {
  font-size: 18px;
  font-weight: lighter;
}

.btn1{
background:  #D66939;
text-transform: uppercase;
padding: 12px;
font-size: 20px;
font-weight: bold;
border: none; 
}

/*Room Sections*/
.room_sections{
  background-color:black;
  color: #FFFFFF;
  /*#2C2C2C*/
}
.arrow{
  float: right;
}
.arrow a{
  text-decoration: none;
  color:white;
}
.one{
  text-align: center;
  clear:right;
}
.two{
  display: flex;
  color: #FFFFFF;
  clear:left;
}
.two2{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
}
.three{
  display: flex;
  color: #FFFFFF;
}
.three1{
  margin-right: 5rem;
  text-align: right;
  width: 670px;
  height: 500px;
  margin-top: 5rem;
}
.room_image{
  width: 670px;
  height: 500px;
}
.arrow_1{
  margin-top: 4rem;
}
.arrow_1 a{
  text-decoration:none;
  color:white;
  margin-left:6px;
}
.three1_1{
  display: flex;
  color: #FFFFFF;
  margin-top: 3rem;
}
.three1_2{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
  margin-top: 4rem;
}
.two2_1{
  margin-left: 5rem;
  width: 670px;
  height: 500px;
  margin-top: 4rem;
}
.two{
  display: flex;
  color: #FFFFFF;
  margin-top: 3rem;
}
button{
  background: #D66939 ;
  color:#2C2C2C;
  font-size: 24px;
  font-weight: bolder;
  border: none;
  padding:5px;

}